Secrets.xcconfig

*.cer
*.p12
*.mobileprovision
*.key
*.pem

xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

.build/
Packages/
Package.resolved
Pods/
Carthage/Build/

.DS_Store
*.log
*.storekit